.card {
  position: relative;
  min-height: 195px;
  margin-bottom: $spacing-medium;
  padding: $spacing-small;
  border-radius: $border-radius;
  background-color: $primary-2;
  & p {
    font-size: .8rem;
    line-height: 1.1rem;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-small / 2;
    & img {
      width: 50px;
      border-radius: $border-radius / 4;
      margin-right: $spacing-small;
    }
    & a {
      color: $secondary;
      font-size: .7rem;
      &:hover {
        color: $facebook;
      }
    }
  }
  &__details {
    letter-spacing: .05rem;
    & p:nth-child(2) {
      margin-left: 15px;
      margin-bottom: $spacing-small / 3;
    }
  }
  &__social {
    position: absolute;
    bottom: $spacing-small;
    right: 0;
    left: $spacing-small;
    display: flex;
    justify-content: space-between;
  }
}