.feed {
  // height: 100% - $spacing-medium;
  &__items {
    max-height: 450px;
    margin-top: $spacing-medium;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
  }
  }
}

@media screen and (max-width: 768px) {
  .feed {
    height: 150px;
    &__area-map {
      height: 200px;
    }
    &__feed {
      grid-row: 2;
      height: 150px;
      margin: 0 auto;
    }
  }
}