.filter {
  width: 100%;
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: $spacing-small 0;
    margin-top: $spacing-medium;
    & button:nth-child(3) {
      margin-right: 0;
    }
    & button {
      flex: 1;
      &:hover {
        flex: 2;
      }
    }
  }
}