.map {
  display: grid;
  grid-gap: $spacing-medium;
  grid-template: 1fr / 300px 1fr;
  &__area-map {
    height: 500px;
    border-radius: $border-radius;
  }
  & .windowMap {
    & h3 {
      color: $primary-1;
    }
    & p {
      color: $primary-2;
    }
  }
}